html,body{
    background-color: #f2f2f2;
}
// 颜色定义
.text_orange{
    color: #FFB800!important;
}
.text_green{
    color: #00bc00!important;
}
.text_center{
    text-align: center; 
}
.padding_top20{
    padding-top: 20px;
}
.user_box{
    position: relative;
    left: 0;
    top: 0;
    padding: 70px 0;
    background: #07a1f9;
    box-sizing: border-box;
}
@media screen and (max-width: 768px){
    body{
        font-size: 16px;
    }
    .padding_76{
        padding: 26px 0!important;
    }
    // .user_box {
    //     padding-top: 60px;
    // }
}
@media screen and (min-width: 992px){
    body{
        font-size: 16px;
    }
}

.font_lg{
    font-size: 30px;
}
.font_small{
    font-size: 14px;
}
.font_noraml{
    font-size: 18px;
}
.bg_fff{
    background-color: #fff!important;
}
.height_middle{
    bottom: 0;
    margin: auto;
}
.margin_11{
    margin-top: 11px;
}
.wz{
    padding-top: 34px;
    dt{
        font: 36px/80px "微软雅黑";
        color: #fff;
        text-indent: 60px;
        background: url(../images/wz.png) no-repeat left center;
        background-size: 43px 39px;
    }
    dd{
        font: 14px/36px "微软雅黑";
        color: #fff;
        text-indent: 100px;
        background: url(../images/true.png) no-repeat 62px center;
        background-size: 23px 17px;
    }
}
.padding_40{
    padding: 40px 0;
    label{
        padding: 9px 0;
        width: 98px;
    }
}
.reg_info{
    padding: 0 20px;
    label{
        width: 90px;
    }
    .layui-input-block{
        margin-left: 100px;
    }
}
.text_red{
    color: red;
    margin: 0 2px;
}
.border_color_red{
    border-color: red;
}
.layui-btn-disabled, .layui-btn-disabled:active, .layui-btn-disabled:hover{
    border: 1px solid #e6e6e6;
    background-color: #eee;
    color: #999;
    cursor: not-allowed;
    opacity: 1;
}
.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.borderNone {
    border: none;
    outline: none;
}

.cu {
    cursor: pointer;
}

.over {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.over2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.vm {
    vertical-align: middle;
    display: inline-block;
}

.vcenter {
    width: 0px;
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

.dis100 {
    display: block;
    width: 100%;
    height: 100%;
}

.ind2 {
    text-indent: 2em;
}

.bor0 {
    border: 0;
}

.l {
    float: left;
}

.r {
    float: right;
}
.yzm{
    img{
        width: 114px;
        height: 42px;
    }
    input{
        width: 168px;
    }
}
.layui-form-item{
    .yzm{
        img{
            width: 114px;
            height: 38px;
        }
        input{
            width: 168px; 
        }
    }
}
.site-demo-title {
    position: fixed;
    left: 200px;
    right: 0;
    top: 65px;
}
.bg_fff{
    background: #fff;
}
body .layui-layout-admin .site-demo {
    bottom: 60px;
    padding: 0;
    top: 132px;
}
.subordinateManagement_input{
    width: auto;
}
iframe{
    width: 100%; 
}
.top0{
    top: 0!important;
}
.top72{
    top: 72px!important;
}
span,em,i{
    font-weight: normal;
    font-style: normal;
}
